@font-face {
    font-family: 'NanumGothic';

    font-style: normal;
    font-weight: normal;
    src: local('Apple SD Gothic Neo'), local('NanumGothic'),  local('나눔고딕'),   url('http://commondatastorage.googleapis.com/fontfacekr-fonts/NanumGothic.woff') format('woff');

}

body {
    margin: 0 auto;
    padding: 3em 1em;
    max-width: 900px;
    line-height: 1.5em;
    font-family: 'NanumGothic', sans-serif;
    color: #555;
}
h1 {
    text-transform: uppercase;
    font-size: 300%;
    margin: 0;
    color: black;
}

h2,h3 {
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
    color: black;
}
h3 {
    font-size: 100%;
    font-weight: normal;
}

a {
    color: #933;
}

#last_name {
    font-weight: normal;
}

#sub_title {
    margin: 1em 0;
    color: #666;
    font-size: 90%;
}

section {
    border-top: 1px solid #ccc;
    margin: 2em 0;
    font-size: 90%;
}

ol, ul {
    padding-left: 1.5em;
}
li {
    margin-bottom: 1em;
}

.history li {
    list-style-type: none;
    line-height: 2em;
}

.history .duration {
    margin: 0 0 0 -1.5em;
    display: block;
    color: black;
}


#publications .paper_title {
    font-weight: bold;
}
#publications .me {
    color: black;
    font-style: normal;
    background: #ddd;
}

footer {
    border-top: 1px solid #ccc;
    font-size: 80%;
}

footer dt {
    float: left;
    clear: both;
    width: 3em;
    text-align: right;
    color: black;
}
footer dd {
    float: left;
}

#validate {
    display: block;
    height: 5em;
    line-height: 5em;
    clear: both;
    text-align: center;
    color: #ccc;
}

@media (max-width: 500px) {
    h1 {
        font-size: 200%;
    }

    h1, h2, h3, #sub_title {
        text-align: center;
    }

    #sub_title {
        margin: 1em;
    }
}
