body {
    margin: 0 auto;
    padding: 3em 1em;
    max-width: 900px;
    line-height: 1.5em;
    font-size: 16px;
    color: black;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

#last_name {
    font-weight: normal;
}

.history li {
    list-style-type: none;
    margin-bottom: 1em;
}

.history .duration {
    margin-left: -1em;
    display: block;
}

.history .duration::after {
    content: ": ";
}

.contact li {
    list-style-type: none;
}

#validate {
    display: block;
    clear: both;
    text-align: center;
}

@media (max-device-width: 500px) {
    h1 {
        font-size: 200%;
    }
}
