html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    padding: 1em 1em;
    max-width: 50em;
    line-height: 1.5;
    color: #666;
}

a {
    color: #369;
}

h1, h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, h3, .history .duration {
    color: #333;
}

#last_name {
    font-weight: normal;
}

li {
    margin-bottom: 0.5em;
}

.history .duration {
    display: block;
    font-weight: bold;
}

.history .duration::after {
    content: ":";
}

.contact li {
    list-style-type: none;
}
