@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    margin: 0;
    padding: 0;
    text-align: left;
    /* font-family: 'Nanum Myeongjo', serif; */
    color: #666;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12pt;
    background: white;
}

section {
    box-sizing: border-box;
    margin: 0.5em auto;
    max-width: 800px;
    padding: 2em;
    background: white;
    box-shadow: 0px 0px 5px #ccc;
}

h2, h3 {
    margin-top: 0;
    color: black;
}

a {
    color: #c63;
}

time, address {
    font-style: normal;
    display: block;
    margin: 1em 0;
}

.name {
    font-size: 120%;
    color: #c63;
    font-weight: bold;
}
.parents {
    color: #c96;
    margin-right: 0.3em;
}

image {
    max-height: 50%;
    max-width: 50%;
}


@media (max-width: 500px) {
    section {
        margin: 0.5em;
        padding: 1em;
    }
}
