@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 10pt;
}

section {
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    padding: 2em;
    border-bottom: 1px dashed #ccc;
}

section:last-child {
    border-bottom: 0px;
}

h2 {
    margin-top: 0;
}

time, address {
    font-style: normal;
    display: block;
    margin: 1em 0;
}

.name {
    font-size: 130%;
}


@media (max-width: 500px) {
    section {
        width: 90%;
        padding: 1em;
    }
}
